.content-right-bar {
   position: relative;

   width: 55vw;
   height: 60vh;

   border-radius: 25px;

   background-color: grey;
   opacity: .6;

   display: flex;
   justify-content: center;
   align-items: center;
}

.right-bar-elemets {

   display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;

   /* padding: 10px; */
   margin: 10px;
}

.forecast-elements {
   display: flex;
   flex-direction: column;
   align-items: center;

   padding: 10px;

   border-bottom: 1px solid black;
}

.forecast-temp {
   font-weight: 600;
}

.forecast-time {
   font-weight: 600;
   font-size: 20px;
}

.forecast {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, 0);

   font-size: 35px;
   font-weight: 600;

   padding: 10px;
}

.forecast-text {
   margin: 0 auto;
   font-size: 10px;
}