.header {
   position: absolute;
   top: 0;
   left: 0;

   display: flex;
   justify-content: center;
   align-items: center;

   width: 100vw;
   height: 50px;

   background: transparent;

   margin: 10px;
}

.header-text {
   font-weight: 600;
   color: white;

   padding-right: 100px;

   display: inline;
}

.search  {
   display: flex;
   justify-content: center;
   align-items: center;
}

.search-input {
   border: none;
   border-top-left-radius: 12px;
   border-bottom-left-radius: 12px;

   padding: .5rem;
}

.search-btn {
   height: 32px;
   width: 40px;

   border-top-right-radius: 12px;
   border-bottom-right-radius: 12px;
   border: none;

   transition: all .3s;

   padding: 0 5px;
}

.search-btn:hover {
   background-color: rgb(73, 73, 73);
   color: white;
   cursor: pointer;
}
